.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid white;
    border-radius: 1rem;
}

.acordeon .trigger {
    font-size: 1.5rem;
    font-weight: 700;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: white;
}

.acordeon .trigger::after {
    content:'';
    display:inline-block ;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../icons/arrow-top.svg);
}

.acordeon .content{
    display: none;
}