@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

/* Fonte baixada para o H1 */
@font-face {
    font-family:Pokemon ;
    src: url(../font/Pokemon\ Solid.ttf);
}


* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    }

body {
    background-color: #090909;
    }


h2 {
    font-family: Pokemon;   
    color: #FFF049;
    text-shadow: 5px 5px 5px  blue;
    font-size: 6em;
    margin: .5em .0;
    padding: 1px 10px 1px 1px;
    text-align: center;

}


#logo {
   background-size: cover;
    max-width:  99%;
    max-height: 35%;
    
    
}

.content {
    padding: 1rem;
    height: 100vh;
    width: 100vw;
    background-color: #fff;
    border-radius: 1px;
}


@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}